---
import Layout from '../layouts/Layout.astro';
import { HeroBlock, HeroBlockFragment } from '~/components/blocks/HeroBlock';
import type { HeroBlockFragmentData } from '~/components/blocks/HeroBlock';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';
import { TagFragment, type TagFragmentData } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { isDraftModeEnabled } from '~/lib/draftMode';
import { defaultLocale } from '~/lib/locales';

type HeroBlockRecord = HeroBlockFragmentData & {
  __typename: 'HeroBlockRecord';
};

interface HomePageQueryResult {
  page: {
    title: string;
    subtitle?: string | null;
    _seoMetaTags: TagFragmentData[];
    sections?: HeroBlockRecord[] | null;
  } | null;
}

const query = /* GraphQL */ `
  query HomePage($locale: SiteLocale!) {
    page: homePage(locale: $locale) {
      title
      subtitle
      _seoMetaTags {
        ...TagFragment
      }
      sections {
        __typename
        ...HeroBlockFragment
      }
    }
  }

  ${TagFragment}
  ${HeroBlockFragment}
`;

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const variables = { locale: defaultLocale } as const;
const { page } = await executeQuery<HomePageQueryResult, typeof variables>(query, {
  variables,
  includeDrafts: draftModeEnabled,
});

if (!page) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}
---

<Layout additionalSeo={page._seoMetaTags}>
  <header>
    <h1>{page.title}</h1>
    {page.subtitle && <p>{page.subtitle}</p>}
    <p>Locale: {defaultLocale}</p>
  </header>

  {
    page.sections?.map((block) =>
      block.__typename === 'HeroBlockRecord' ? <HeroBlock block={block} /> : null,
    )
  }

  <DraftModeQueryListener query={query} variables={variables} />
</Layout>
